body {
    background-color: #f0d3a7;
    background-image: url(./standaard/NL-Borisinfo-adv-proef4.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


img {
    max-width: 100%;
    margin: auto 0;
}

.container {
    width: 90vw;   
    margin: 840px auto 750px; 
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr;
    margin: 0 40px;
    gap: 20px;
}

/* .grid3 img:nth-child(1) {
    transform: rotate(-10deg);
} */

.grid4 {
    display: grid;
    grid-template-columns:1fr 1fr 0.7fr 0.7fr 1fr 1fr;
    gap: 10px;
    /* margin-top: -20px; */
}

.ballen {
    display: grid;
    grid-template-columns: 0.8fr 0.4fr 0.5fr 0.4fr;  
}

.ballen img {
    transform: scale(1.7);
}

.grid5 {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 50px 60px;
}

.grid6 {
    display: grid;
    grid-template-columns: 0.8fr 0.7fr 1.2fr 1fr;
    margin: 0 60px 800px;
    gap: 15px;
}

.grid6 img:nth-child(3) {
    transform: rotate(5deg);
    margin-left: 20px;
}

.sokken {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1fr 1fr;
}

.bottom-left {
    width: 170px;
    position: absolute;
    top: 1600px;
    left: 40px;
}

.bottom-right {
    width: 200px;
    position: absolute;
    top: 1600px;
    right: 40px;
}