body {
    background-image: url(./NL-Borisinfo-adv_kerst1.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.container {
    width: 90vw;   
    margin: 400px auto 0; 
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 40px;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: -30px;
}

.grid4 img:nth-child(3) {
    transform: rotate(30deg);
}

.grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: -60px 60px 800px;
}

.bottom-left {
    width: 170px;
    position: absolute;
    top: 1600px;
    left: 40px;
}

.bottom-right {
    width: 170px;
    position: absolute;
    top: 1600px;
    right: 40px;
}